@media only screen and (max-width: 1120px) {
    body {
        padding: 40px 0 20px 0;
    }
    .page_container {
        width: 100%;
        margin: 0px;
    }
    #inner_body {
        position: relative;
        padding-bottom: 20px;
    }
    #header {
        display: none;
    }
    #header_m {
        display: block;
    }
    .floating_player {
        height: 60px;
    }
    .float_player_artwork {
        width: 60px;
        height: 60px;
    }
    .prev_btn {
        height: 60px;
        width: 30px;
        background-size: 15px;
    }
    .play_btn {
        height: 60px;
        width: 30px;
        background-size: 20px;
    }
    .next_btn {
        height: 60px;
        width: 30px;
        background-size: 15px;
    }
    .close_btn {
        height: 60px;
        width: 40px;
        background-size: 10px;
    }
    .sub_title {
        font-size: 18px;
    }
    .main_carousel {
        height: 300px;
    }
    .n_stage_week {
        font-size: 12px;
    }
    .openmic_con_wrap ul li {
        width: 50%;
    }
    .comnt_item_text span {
        display: block;
    }
    .this_artist_track {
        width: 160px;
        padding-right: 0px;
    }
    .openmic_con_wrap_detail>ul>li {
        width: 50%;
    }
    .profile_modify_wrap {
        padding: 20px;
        padding-top: 50px;
    }
    .modify_profile_card {
        position: relative;
        left: auto;
        top: auto;
        margin-bottom: 50px;
    }
    .delete_acc {
        padding: 0 20px;
        box-sizing: border-box;
        padding-bottom: 50px;
    }
    .modify_form {
        padding: 14px 10px 18px;
        margin-bottom: 20px;
    }
    .modify_form_wrap h5 {
        padding: 0 10px;
    }
    .modify_form_wrap>h4 {
        position: relative;
        padding-left: 10px;
    }
    .modify_form_wrap h4 button {
        width: 60px;
        height: 50px;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        border-radius: 0;
        background-color: #FF3636;
        color: #fff;
        box-sizing: border-box;
    }
    .modify_profile_card>h4 {
        line-height: 30px;
        font-size: 14px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .openmic_con_wrap ul li {
        width: 100%;
    }
    .profile_modify_wrap {
        padding: 10px;
        padding-top: 50px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .openmic_con_wrap_detail>ul>li {
        width: 100%;
    }
}
